@charset "utf-8";
body {
    text-align: center;
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    height: 100%;
}
html{
    height: 100%;
}

/*ID vari*/

#mapparent{
        background-image: url(../Images/staticmap.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding-bottom: 18%;
    background-position: 50% 50%;
    background-size: 100%;
    margin-top: -5%;
}

#mapcontainer{
    
}



#logonavbar {}

#shadowlogo {
    box-shadow: 0px -5px 10px 0px rgba(50, 50, 50, 0.3);
    padding: 1%;
}

#borderpromozioni{
outline: 1px solid black;    
}

.marginless{
    padding: 0;
}

/*classi varie*/

.menuselezione {}

.treD {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    margin: 3%;
}

.style{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.img-responsive{
    margin-bottom: 1%;
}

.relative{
        position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.relative iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*background*/

#base {
    background-image: url(../Images/Logo_Sian_Mini_Navbar.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 10%;
    background-position: 50% 50%;
    background-size: 80%;
}

#testobottomalign {
    position: absolute;
    bottom: 0;
    right: 0;
}

.rowbotal {
    position: relative;
}

.gradientmain{
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
/*fine background*/


/*Menu*/

.navbar-brand img {
    margin-top: -5%;
    padding-top: 0;
    height: 50px;
    width: 100px;
}

#navbarmain {
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
}